footer {
  background: #333;
  color: #fff;
  height: 40px;
  padding-top: 20px;
  text-align: center;
  margin-top: 30px;
}
.adding {
  background: #1E90FF;
  padding: 6px 16px 6px 16px;
}
.adding h4 {
  color: #fff;
}
.adding:hover {
  background: #337ab7;
}
footer a {
  color: #00FFFF;
}
footer a:hover {
  color: #008B8B;
  text-decoration: none;
}
.heading {
  background:#666;
  color:#fff;
  padding: 5px;
}
.article {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
